@import './assets/styles/_block';

header {
    justify-content: center;    
}
.headerLogo {
    align-items: center;
    gap: 400px;
    &__logo {
        margin-top: 18px;
       
        gap: 24px;
        span {
            margin-top: 46px;
            height: 33px;
            border: 1px solid #FFFFFF;}
        p {
            margin-top: 46px;
            font-family: 'OpenSans';
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: #2194FF;
        }
    }
    &__phonenumber {        
        text-align: left;
        &--number {
            font-size: 24px;
            line-height: 29px;
            color: #F1F1F1;
        }
        p:last-child {
            font-family: 'OpenSans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #2194FF;
        }
    }
}
main {
    flex-direction: column;
    align-items: center;
}
.gasDelivery {
    justify-content: center;
    transform: translateX(178px);
    &__info {
        transform: translateX(72px);
        p {
            font-family: 'OpenSans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #F1F1F1;
            transform: translateX(20px);
            margin-top: 13px;
        }
       &__service {
        gap: 34px;        
        margin-top: 36px;
            &--item {
                p {
                    font-family: 'OpenSans';
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 22px;
                    color: #F1F1F1;
                }
            }
        }
        h1 {
            margin: 12px 0 14px;
            font-weight: 400;
            font-size: 64px;
            line-height: 63px;
            color: #2194FF;
        }
        &__subtitle {
            p {
                font-size: 24px;
                line-height: 29px;
                color: #F1F1F1;
            }
        }
        button {
            width: 395px;
            height: 87px;
            background-image: url(./assets/images/bg-btn1.png);
            border-radius: 10px;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            color: #F1F1F1;
            text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
        }
    }
}
.costofGas {    
    background: #2D3238;
    width: 100vw;
    justify-content: center;
    &__container {
        flex-direction: column;
        align-items: center;
        max-width: 1140px;
    }
    img {
        transform: translateY(40px);
    }  
}
.Benefits {
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 57px 0 25px;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #F1F1F1;        
    }
    &__box {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 29px 29px;
        &__item {
            width: 322px;
            align-items: center;
            text-align: center;
            h4 {
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #2194FF;
                margin: 8px 0 14px;
            }
            p {
                font-family: 'OpenSans';                
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #F1F1F1;
            }
        }        
    }
    &__container {
        margin-top: 40px;

        &__info {
            width: 533px;
            max-width: 100%;
            h4 {
                font-size: 35px;
                line-height: 42px;
                color: #F1F1F1;
                span {
                    color: #2194FF;
                }                
            }
            p {
                background-color:#2194FF;
                padding: 8px 12px;
                margin-top: 20px;
                font-family: 'OpenSans';
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 19px;
                color: #F1F1F1;                
            }
        }
    }
}
.ChooseVolume {
    background: #2D3238;
    width: 100vw;
    justify-content: center;
    &__container {
        h2 {
            font-size: 36px;
            line-height: 43px;
            text-align: center;
            color: #2194FF;
            margin: 34px 0 35px;
        }
        &__elections {
            gap: 24px;
            button {
                width: 164px;
                height: 64px;
                background: rgba(241, 241, 241, 0.2);
                border-radius: 20px;
                border: none;
                font-size: 18px;
                line-height: 22px;
                text-align: center;                
                color: #F1F1F1;
            }
            .active {
                background-color: #2194FF;
                text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
            }            
        }
        &__img {
            margin-top: 37px;
        }
        &__btn {
            display: flex;
            justify-content: center;
            margin-bottom: 64px;
            transform: translateY(-37px);
            button {
                width: 295px;
                height: 87px;
                border-radius: 10px;
                background-image: url(./assets/images/bg-btn2.png);
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #F1F1F1;
                text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);             
            }
        }
    }
}
.comment {
    flex-direction: column;
    align-items: center;
    transform: translateX(40px);
    h2 {
        margin: 40px 0 47px;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #F1F1F1;        
    }
    &__container {
       gap: 40px;
       > img:nth-child(1) {
        transform: translateX(740px);}
       &--right {
        transform: translateX(-820px);
    }
        &__comments {
            position: relative;
            align-items: center;
            &--item {                
                width: 759px;
                height: 320px;
                padding: 40px;
                background: #F1F1F1;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                border-radius: 40px;
                gap: 23px;
                h4 {
                    font-size: 24px;
                    line-height: 29px;
                    color: #2194FF;
                }
                h6 {
                    font-size: 18px;
                    line-height: 22px;
                    color: #2D2D2D;
                }
                p {
                    font-family: 'OpenSans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 22px;
                    color: #2D2D2D;
                }
            }
            &--item:nth-child(1) {
                z-index: 10;
                transform: translateX(780px);
            }
            &--item:nth-child(2) {
                width: 799px;
                height: 286px;
                z-index: 5;
            }
            &--item:nth-child(3) {
                width: 839px;
                height: 252px;
                z-index: 1;
                transform: translateX(-820px);
            }
        }
    }
}