* , *::before , *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'RussoOne';  
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
}