.header {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 650px;
    background-color: #2d2d2d;
    margin: 0 auto;

    &__nav {
        display: flex;
        flex-direction: row;
        width: 1076px;
        height: 98px;
        gap: 400px;
        margin: 18px auto 20px;
    }

    &__logo {
        display: flex;
    }

    &__line {
        width: 1px;
        height: 33px;
        background-color: #fff;
        margin: 43px 21px 22px 24px;
    }

    &__desc {
        @include font(16);
        font-weight: 400;
        color: #2194FF;
        width: 130px;
        margin: 42px 0 0 0;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        width: 215px;
        gap: 5px;
        margin: 6px 0 0 0;
    }

    &__phone {
        @include fontA(24);
        font-weight: 400;
        color: #F1F1F1;
    }

    &__text {
        @include font(16);
        color: #2194FF;
        text-decoration: underline;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 1498px;
        height: 477px;
        margin: 22px 0 0 422px;
    }

    &__intro-textbox {
        display: flex;
        flex-direction: row;
        width: 550px;
        height: 54px;
        margin: 0;
        gap: 25px;
    }

    &__intro-span {
        display: flex;
        flex-direction: column;
    }

    &__intro-span span {
        display: flex;
        gap: 8px;
    }

    &__intro-text {
        @include font(16);
        color: #F1F1F1;
        margin: 7px 0 0 0;
        font-weight: 400;
    }

    &__intro-title {
        @include fontA(64);
        font-weight: 400;
        color: #2194FF;
        width: 450px;
        margin: 12px 0 14px 0;
    }

    &__intro-desc {
        @include fontA(24);
        color: #F1F1F1;
        width: 300px;
    }

    &__intro-arrow {
        position: absolute;
        top: 217px;
        left: 302px;
        width: 71px;
        height: 90px;
        transform: rotate(10deg);
    }

<<<<<<< HEAD
    &__intro-btn {
=======
    // &__intro-btn {
    //     @include fontA(22);
    //     text-align: center;
    //     color: #F1F1F1;
    //     text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    //     cursor: pointer;

    //     width: 395px;
    //     height: 87px;
    //     margin: 40px 0 13px 0;
    //     padding: 15px 9px;
    //     border-radius: 10px;
    //     background-color: #2194FF;
    //     transition: .5s;

    //     &:hover{
    //         background-color: transparent;
    //         color: #2194FF;
    //         border: 2px solid #2194FF;
    //         box-shadow: -6px 6px 15px #2194FF;
    //     }
    // }

    &__intro-btn{
>>>>>>> 134a74adfc9c75adb075cea4466b27d4c0cc5689
        width: 180px;
        height: 60px;
        margin: 40px 0 13px 0;
    }
    &__intro-btn span{
        @include fontA(14);
        color: #f1f1f1;
        text-align: center
    }

    &__intro-subtitle {
        @include font(16);
        color: #F1F1F1;
    }

    &__intro-image {
        position: absolute;
        left: 461px;
        width: 1037px;
        height: 477px;
    }
}
