@import '../assets/styles/block';
@import './header';
<<<<<<< HEAD
@import './price';
@import 'advantages';
@import 'contact';
@import 'address';
=======
@import './cost';
@import './comment';

.main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1920px;
    background-color: #2d2d2d;
}

.btn {
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
.btn svg {
    position: absolute;
    left: 0px;
    top: 322px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 250 480;
    stroke-dashoffset: 250;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
>>>>>>> 134a74adfc9c75adb075cea4466b27d4c0cc5689
